name: Send Daily Orders Report

on:
  schedule:
    - cron: "0 18 * * *" 
  workflow_dispatch:

jobs:
  send-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install pandas

      - name: Debug environment variables
        env:
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          OWNER_EMAIL: ${{ secrets.OWNER_EMAIL }}
        run: |
          echo "Sender email present? -> $([[ -n \"$SENDER_EMAIL\" ]] && echo YES || echo NO)"
          echo "Receiver email present? -> $([[ -n \"$OWNER_EMAIL\" ]] && echo YES || echo NO)"

      - name: Send Orders CSV Email
        env:
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
          OWNER_EMAIL: ${{ secrets.OWNER_EMAIL }}
        run: |
          python send_mail.py
